.cart {
	position: absolute;
	width: 72px;
	height: 60px;
	top: 32px;
	right: 44px;
	background: url('/assets/img/icn-cart.png') no-repeat 0 0;
	background-size: cover;
	opacity: 1;
	transition: opacity 0.3s;

	&_empty {
		opacity: 0.5;
		cursor: default;
	}

	&-wrap {
		position: absolute;
		width: 30px;
		height: 30px;
		top: -10px;
		right: 9px;
		border: 1px solid #444444;
		border-radius: 50%;
		background: #fff;
		color: #000;
	}

	&-count {
		position: relative;
		top: 6px;
		text-align: center;
	}
}
